{% extends 'base.html' %}

{% block title %}List of teachers{% endblock %}

{% block content %}
    <table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 5%">N</th>
            <th style="width: 20%">First name</th>
            <th style="width: 20%">Last name</th>
            <th style="width: 20%">Speciality</th>
            <th style="width: 10%">Group</th>
            <th style="width: 5%"><i class="bi bi-pencil-fill"></i></th>
            <th style="width: 5%"><i class="bi bi-trash3-fill"></i></th>
        </tr>
    </thead>
    {% for teacher in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.speciality }}</td>
            <td>{% if teacher.group %}{{ teacher.group }}{% endif %}</td>
            <td><a href="{% url 'teachers:update' teacher.pk %}">Edit</a></td>
            <td><a href="{% url 'teachers:delete' teacher.pk %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}